<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>

    <style>
        @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

        .error {
            margin: 10px 0px;
            padding:12px;

        }
        .error {
            color: #D8000C;
            background-color: #FFD2D2;
        }
        .error i {
            margin:10px 22px;
            font-size:2em;
            vertical-align:middle;
        }
    </style>
</head>
<body>
    <div class="error">
       <i class="fa fa-times-circle"></i>
       {{message}}
    </div>
</body>
</html>