<!DOCTYPE html>
<html lang="en">
<head>
  <title>Submit Notebook</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <form method="post" enctype="multipart/form-data" action="/render">
      <div class="form-group">
        <label for="notebook">Notebook:</label>
        <input type="file" name="notebook" class="form-control-file" id="notebook">
      </div>
      <div class="form-group">
        <label for="exporter">Exporter:</label>
          <select name="exporter" class="form-control" id="exporter">
          {% for exporter in exporters %}
              <option value="{{exporter}}">{{exporter}}</option>
          {% endfor %}
          </select>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="inline" value="inline" checked>
          <label class="form-check-label" for="inline">
            Preview
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="mode" id="attachment" value="attachment">
          <label class="form-check-label" for="attachment">
            Download
          </label>
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>